.object-form {
    margin-top: 15px;
}

.object-form h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.object-form label {
    display: block;
    margin-bottom: 5px;
}

.object-form .buttons__container {
    display: flex;
    justify-content: space-between;
}
